<h2>FORM</h2>
<div class="content">
    <div *ngIf="isLogin">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit" class="Login">
            <div class="field">
                <label for="username">Username: </label>
                <input type="text" formControlName="username">
            </div>
            <div class="field">
                <label for="password">Password: </label>
                <input type="password" formControlName="password">
            </div>
            <button type="submit" class="submit-login">Login</button>
        </form>
    </div>
    <div *ngIf="!isLogin">
        <h2>Sign Up</h2>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit" class="Sign-up">
            <div class="field">
                <label for="username">Username: </label>
                <input type="text" formControlName="username">
            </div>
            <div class="field">
                <label for="email">Email: </label>
                <input type="email" formControlName="email">
            </div>
            <div class="field">
                <label for="password">Password: </label>
                <input type="password" formControlName="password">
            </div>
            <div class="field">
                <label for="ConfirmPassword">Confirm password:</label>
                <input type="password" formControlName="confirmPassword">
            </div>
            <button type="submit" class="submit-sign">Sign-up</button>
        </form>
    </div>
</div>
<div class="dialog">
    <button type="button" (click)="ChangeForLogin()"> Login </button>

    <button type="button" (click)="ChangeForSignUp()"> Sign-up </button>
</div>