h2 {
    text-align: center;
}
.pattern-match-error{
    font-size: 0.7em;
}
@mixin flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Login {
    display: grid;
    grid-template-rows: 4em 4em;
    grid-template-columns: 150px;
    min-height: 30%;
    max-height: 100%;
}

.Sign-up {
    display: grid;
    grid-template-rows: repeat(3, 4em);
    grid-template-columns: 200px 200px;
    gap: 2em;
    min-height: 30%;
    max-height: 100%;
}

.content {
    @include flex-column();
}

.field {
    @include flex-column();
    align-items: baseline;
}

.dialog {
    @include flex-row();
    gap: 2em;
    margin-top: 100px;
}

.submit-sign,
.submit-login {
    width: 8em;
    height: 2em;
}
.error{
    color:red;
    font-size:0.8em;
}
.accept{
    color:green;
    @include flex-row();
    margin-top: 2em;
}
.password-error{
    word-wrap: break-word;
}
@media only screen and (max-width:400px) {
    .Sign-up {
        grid-template-columns: auto;
    }
    .pattern-match-error{
        grid-row: 4;
        word-wrap: break-word;
        max-width: fit-content;
        margin-top: -3em;
        margin-bottom: -3em;
    }
}